extends layout

block body


	div.form
		form(name="selectDetails", id="selectDetails")
			label Select Airline:
			select(name="airline", form="selectDetails", onchange="selectDateChangeHandler(this)", id="airline")
				option(value="Please Select")
				option(value="airnewzealand") Air New Zealand
				option(value="singapore") Singapore Air
			div.dateSelect
				label Month of Travel:
				select#date-options(name="date", form="selectDetails")

			input.submit-button(type="button", value="Find Movies", onclick="getMovies()")
	div.row
		div.buttons
		div.movies-container