doctype html
html(lang="en")
	head
		title=FlyMDB

		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge" )
		meta(name="viewport" content="width=device-width, initial-scale=1" )

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
		script(type="text/javascript" src="../scripts/getMovies.js")

		link(href="../stylesheets/style.css" rel="stylesheet" type="text/css")
		link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css")
		link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css")
		

	body
		div#background-wrap
			div.x1
				div.cloud
			div.x2
				div.cloud
			div.x3
				div.cloud
			div.x4
				div.cloud
			div.x5
				div.cloud
		div.container
			h2.heading FlyMDB

			block body
