doctype html
html(lang="en")
	head
		title=FlyMDB
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge" )
		meta(name="viewport" content="width=device-width, initial-scale=1" )
		link(href="../stylesheets/style.css" rel="stylesheet" type="text/css")
		link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css")
		link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css")
		script(type="text/javascript" src="../scripts/myscript.js")

	body
		div.container
			nav
			p links here

			block body
